[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/ramereth/pelican-themes.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "content/slides"]
	path = content/slides
	url = https://github.com/ramereth/slides-static.git
